body{
    background-color: beige;
}

#titulo{
    padding: 15px;
    margin-bottom: 15px;
    background-color: cornflowerblue;
}

img{
    width: 450px;
    height: 250px;
}

#parrafo1, #parrafo2{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;
}